::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-bg-opacity)) /* #18181b */;
  --tw-text-opacity: 1;
  color: rgb(244 244 245 / var(--tw-text-opacity)) /* #f4f4f5 */;
}


html {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
}
input {
  background-color: transparent !important;
}


#main-bg {
  position: relative;
  background-color: #f0f4f8;
  z-index: 0;
  min-height: 100vh;
}
/* #main-bg::before {
  content: "";
  position: absolute;
  top: 10em;
  right: 0em;
  width: 20rem;
  height: 20rem;
  background-color: #4bb092;
  filter: blur(70px);
  pointer-events: none;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.3;
} */
/* #main-bg::after {
  content: "";
  position: absolute;
  bottom: 0em;
  left: 0em;
  width: 20rem;
  height: 20rem;
  background-color: #4bb092;
  filter: blur(70px);
  pointer-events: none;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.3;
} */


.navLinks {
  position: relative;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(158 158 150 / var(--tw-text-opacity)) /* #18181b */;
  padding: 0.15rem 1rem;
  cursor: pointer;
  transform: translateY(-2rem);
  opacity: 0;
  transition: color 0.14s ease-in-out;
}
.navLinks::after {
  content: "";
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, 1%);
  width: 4px;
  height: 4px;
  background-color: #4bb092;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.14s ease-in-out, visibility 0.14s ease-in-out;
}
.navLinks.navActive {
  color: #4bb092;
}
.navLinks.navActive::after {
  opacity: 1;
  visibility: visible;
}
.joinLinks :where(a:last-child){
  background-color: #18181b;
  color: #f0f4f8 !important;
}


button[type="button"] {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.85s ease-in-out;
}
button[type="button"]::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translate(-50%, 50%);
  width: inherit;
  height: 85px;
  background: #18181b;
  border-radius: 50%;
  z-index: -1;
  transition: bottom 0.6s ease-in-out, border-radius 0.95s ease-in-out;
  pointer-events: none;
}
button[type="button"]:hover {
  color: #ffffff;
}
button[type="button"]:hover::after {
  bottom: 50%;
  border-radius: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.progressSteps :where(.progressLine:nth-child(1)) {
  display: none;
}


.whyDifferent :where(li:last-child) {
  border: none !important;
}


.applyListStyle {
  margin-top: 0.5rem;
  position: relative;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  --tw-text-opacity: 1;
  background-color: rgb(24 24 27 / var(--tw-text-opacity)) /* #18181b */;
  border-radius: 50%;
}
.applyListStyle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.15rem;
  height: 1.15rem;
  --tw-text-opacity: 0.2;
  background-color: rgb(24 24 27 / var(--tw-text-opacity)) /* #18181b */;
  border-radius: 50%;
}


.listColumn {
  columns: 250px;
}
.listColumn :where(div:nth-child(1)) {
  margin-top: 0 !important;
}


.buttonEffect{
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: color 0.7s ease-in-out;
}
.buttonEffect::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4.5rem;
  width: inherit;
  height: 3.5rem;
  background-color: #18181b;
  border-radius: 50%;
  mix-blend-mode: exclusion;
  pointer-events: none;
  transition: bottom 0.7s ease-in-out, border-radius 0.85s ease-in-out;
}
.buttonEffect:hover{color: #f0f4f8;}
.buttonEffect:hover::after{
  bottom: -0.5rem;
  border-radius: 0;
}