@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fe7f18;
}

.action-btns :where(li:first-child) {
  background-color: transparent;
  border: 2px solid #fe7f18;
}

.action-btns :where(li:first-child > button) {
  color: #fe7f18;
}

.btn-hover-animation {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn-hover-animation:first-child > button {
  transition: all 0.4s ease-in-out;
}
.btn-hover-animation:first-child:hover > button {
  color: #fff;
}

.btn-hover-animation:first-child:after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  transform: translate(0%, 10%);
  width: 100%;
  height: 100%;
  background: #fe7f18;
  pointer-events: none;
  border-radius: 50%;
  transition: all 0.4s ease-in-out, border-radius 0.5s ease-in-out;
}
.btn-hover-animation:hover::after {
  bottom: 0;
  transform: translate(0, 0);
  z-index: -1;
  border-radius: 0;
}
.steps_Container :where(.step_Cards:nth-child(2)){
  background-color: #fe7f180f;
}

.animate{
  opacity: 0;
  transform: translateX(100%);
  animation-name: fade-in;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.animate.slide-in-left{
  animation-name: slide-in-left;
  animation-fill-mode: forwards;
}

.animate.slide-in-right{
  animation-name: slide-in-right;
  animation-fill-mode: forwards;
}

.animate.slideDown{
  animation-name: slideDown;
}
.animate.delay_1{
  animation-delay: 1ms;
}
.animate.delay_2{
  animation-delay: 2ms;
}
.animate.delay_4{
  animation-delay: 4ms;
}
.animate.delay_6{
  animation-delay: 6ms;
}
.animate.delay_8{
  animation-delay: 8ms;
}
.animate.delay_10{
  animation-delay: 10ms;
}
.animate.delay_12{
  animation-delay: 12ms;
}

@keyframes slide-in-left{
  from{
    opacity: 0;
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right{
  from{
    opacity: 0;
    transform: translateX(50%);
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in{
  to{
    opacity: 1;
  }
}
